body{
  margin: 0;
  padding: 0;
  background: #282c34;
  color: #fff;
  font-family: 'Roboto Slab', arial;
}

.contentWrapper{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper > .container{
  background: #e5e5e5;
  color: #f72c25;
  padding: 3rem 5rem;
  border-radius: 10px;
}

form{
  display: flex;
  flex-direction: column;
  width: 20rem;
}

input{
  margin: 10px 5px;
  color: #282c34;
  outline: none;
  padding: 10px 1rem;
  border: 1px solid #282c34;
  border-radius: 10px;
}

input:focus{
  border-color: #2975bd
}

button{
  padding: 10px 20px;
  margin: 0 5px;
  font-family: 'Roboto Slab';
  border-radius: 10px;
  color: #fff;
  background: #F72C25;
  border: none;
  cursor: pointer;
  transition: background-color .7s ;
}

button:hover{
  background: #920606;
}

.formanchor{
  display: inline-block;
  color: #F72C25;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.7s;
}

.formanchor:hover{
  color: #7e1410;
}